/* CSS for the Gallery page */

.gallerybox {
    margin-right: auto;
    margin-left: auto;
}


/* CSS for Home page */
.homephoto {
    background-image: url(../../img/GEV_7.jpg);
    background-repeat: repeat-y;
    width: 1000px;

}