 

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-image: url(../src/img/GEV_7.jpg);
}

.App-1 {
    display: flex;
    background-color: burlywood;
    
     
    width: 100%;
     
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
 
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  :root {
    --off-white: #fafafa;
  }
  .nav {   
    display: flex;
    width: 100%;
    height: 80px;
    
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  }
     
  
   .nav-content {
    display:block;
     color: rgb(40, 41, 40);
    padding:  10px;
    margin: 10 auto;
    float:left;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .nav-items {
     
    
    
    color: #333;
  }
  
  .nav-items:hover {
    color: rgb(247, 245, 245);
    cursor: pointer;
  }
  
  