 
 body {
  clear: both;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-image: url(../src/img/GEV_7.jpg);
}

.App-1 {
     
    background-color: #434358;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
     
    width: 100%;
     
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
 
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  :root {
    --off-white: #fafafa;
  }
  .nav {   
    display: flex;
    width: 100%;
    height: 80px;
    
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  }
     
  
   .nav-content {
    display: inline;
     color: white;
    padding:  10px;
    margin: 10 auto;
     
    font-size: 15px;
     
    text-align: center;
     
  }
  
  .nav-items { 
    
    color: white;
  }
  
  .nav-items:hover {
    color: rgb(247, 245, 245);
    cursor: pointer;
  }
  #rightside{
     padding-right: 10px;
    margin: 10 auto;
    
    float: right;
  }
  
  